
#
# OLD
#


# Standard genomic outputs
*.bed
*.bam
*.tab
*.txt
*.pdf
.snakemake*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

*.tar.gz
*.tar.bz2


# Files in bin
bin/*
!bin/smrtsv.py
!bin/trf

# Files in dist
dist/**/*
!dist/RepeatMasker/Makefile
!dist/boost/Makefile
!dist/bwa/Makefile
!dist/bz2/Makefile
!dist/celera/Makefile
!dist/hdf5/Makefile
!dist/hmmer/Makefile
!dist/java/Makefile
!dist/miniconda/install.sh
!dist/pm/Makefile
!dist/snakemake/cluster
!dist/swig/Makefile
!dist/zlib/Makefile

