[submodule "samtools"]
	path = samtools
	url = https://github.com/samtools/samtools.git
[submodule "dist/samtools"]
	path = dist/samtools
	url = https://github.com/samtools/samtools.git
[submodule "dist/htslib"]
	path = dist/htslib
	url = https://github.com/samtools/htslib.git
[submodule "dist/blasr"]
	path = dist/blasr
	url = https://github.com/EichlerLab/blasr.git
