# Python compiled files
**/*.pyc
**/__pycache__/

# Files in bin
bin/*
!bin/trf

# Files in dist
!dist/htslib/
!dist/htslib/Makefile
!dist/zlib/
!dist/zlib/Makefile
!dist/hdf5/
!dist/hdf5/Makefile
!dist/xz/
!dist/xz/Makefile
!dist/samtools/
!dist/samtools/Makefile
!dist/bcftools/
!dist/bcftools/Makefile
!dist/bwa/
!dist/bwa/Makefile
!dist/bwakit/
!dist/bwakit/Makefile
!dist/bedtools/
!dist/bedtools/Makefile
!dist/vcflib/
!dist/vcflib/Makefile
!dist/miniconda/
!dist/miniconda/Makefile
!dist/miniconda/install_packages.sh
!dist/canu/
!dist/canu/Makefile
!dist/blasr/
!dist/blasr/Makefile
!dist/boost/
!dist/boost/Makefile
!dist/blasr/
!dist/blasr/Makefile
!dist/GenomicConsensus/
!dist/GenomicConsensus/Makefile
!dist/pbcore/
!dist/pbcore/Makefile
!dist/hdf5/
!dist/hdf5/Makefile
!dist/ConsensusCore/
!dist/ConsensusCore/Makefile
!dist/swig/
!dist/swig/Makefile

