[submodule "samtools"]
	path = samtools
	url = https://github.com/samtools/samtools.git
[submodule "dist/samtools"]
	path = dist/samtools
	url = https://github.com/samtools/samtools.git
[submodule "dist/htslib"]
	path = dist/htslib
	url = https://github.com/samtools/htslib.git
[submodule "dist/blasr"]
	path = dist/blasr
	url = https://github.com/EichlerLab/blasr.git
[submodule "dist/bedtools"]
	path = dist/bedtools
	url = https://github.com/arq5x/bedtools2.git
[submodule "dist/freebayes"]
	path = dist/freebayes
	url = https://github.com/ekg/freebayes.git
[submodule "dist/pbcore"]
	path = dist/pbcore
	url = https://github.com/PacificBiosciences/pbcore.git
[submodule "dist/ConsensusCore"]
	path = dist/ConsensusCore
	url = https://github.com/PacificBiosciences/ConsensusCore.git
[submodule "dist/GenomicConsensus"]
	path = dist/GenomicConsensus
	url = https://github.com/PacificBiosciences/GenomicConsensus.git
[submodule "dist/pbh5tools"]
	path = dist/pbh5tools
	url = https://github.com/PacificBiosciences/pbh5tools.git
[submodule "dist/bcftools"]
	path = dist/bcftools
	url = git://github.com/samtools/bcftools.git
